{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                </form>
                <form action="." method="post" class="row g-3">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="col-12">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-muted">
                Already have an account? <a href="{% url 'login' %}" class="card-link">Login</a>
            </div>
          </div>
    </div>
{% endblock %}